.DS_Store
*/.idea/*
.idea/*
config/*
wp/*
wp-content/.idea/*
wp-content/plugins/*
wp-content/uploads/*
wp-content/themes/municipio-nsr/node_modules/
!wp-content/plugins/acf-ux-collapse/
!wp-content/plugins/advanced-custom-fields/
!wp-content/plugins/better-post-ui/
!wp-content/plugins/broken-link-detector/
!wp-content/plugins/content-scheduler/
!wp-content/plugins/custom-short-links/
!wp-content/plugins/lix-calculator/
!wp-content/plugins/modularity/
!wp-content/plugins/readspeaker-helper/
!wp-content/plugins/wp-editor-widget/
!wp-content/plugins/wp-nested-pages/
!wp-content/plugins/varnish-http-purge/
!wp-content/plugins/nsr-vc-extended/
!wp-content/plugins/nsr-open-hours/
!wp-content/plugins/elasticpress-synonyms/


