
#main-content {
    transition: all 500ms ease;

    .page-title  {
        position:relative;
        margin-bottom:30px;

        h1:after {
            content:"";
            background: alpha-color($palette-primary-grey, 25%, $type:'dark');
            position: absolute;
            bottom: 10px;
            left: 1%;
            right:1%;
            height: 1px;
            width: 98%;

        }

        .nav-help {
            margin-bottom:30px;
        }
        .nav-help a {
            font-size:1.3rem;
            vertical-align: middle;
            display: table-cell;
            text-decoration: none !important;
        }

        .nav-help i {
            font-size:2.0rem;
            vertical-align: middle;
            margin:5px;
        }
        :after {
            content:"";
            background: $palette-primary-white;
        }
        #readspeaker-play-button {
            padding-bottom: 8px;
        }

    }
    @media only screen and (max-width: 600px) {

    }

    .page-content {
        padding-top:0;
        margin-top:-20px;
    }

    .page-footer {
        background-color: $palette-primary-white;
        .box-border {
            box-shadow: none !important;
        }
        .box {
            color: alpha-color($palette-primary-grey, 50%, $type: 'dark');
        }
        .grid {
            padding-left:0px !important;
        }
        .pricon-lg {
            vertical-align: 8%;
        }
    }

    .page-author {
        border-top: 1px solid alpha-color($palette-primary-grey, 25%, $type:'dark');
        border-bottom: 1px solid alpha-color($palette-primary-grey, 25%, $type:'dark');
        margin-bottom:50px;
        padding:5px;
        color: alpha-color($palette-primary-grey, 50%, $type:'dark');
    }
    .post-author a {
        font-weight:400;
    }
    @media only screen and (max-width: 600px) {
        .page-author li {
            text-align: left;
            clear:both;
            width:100%;
            max-width:100%;

        }
    }

    article blockquote {
        max-width:700px;
        box-shadow: 0 1px 8px rgba(0,0,0,0.09),0 2px 3px rgba(0,0,0,.12) !important;
        padding:35px 18px 40px 90px;
        border-top:5px solid alpha-color($palette-primary-red, 16%, $type:'light');
        border-left:none;
        display:inline-block;
        vertical-align:top;
        position:relative;
        font-size:110% !important;
    }


    article blockquote:before {
        font-family: "Material Icons";
        content: '\E85A';
        font-size:42px;
        color:$palette-primary-black !important;
        vertical-align: bottom;
        position:absolute;
        top:40px;
        left:25px;
        display: inline-block;
        width: 50px;

    }

    .btn.btn-primary {
        background-color:$palette-primary-green !important;
        border-color:$palette-primary-green !important;

    }

    .post-header {
        background:none;
        border:none;
    }


    .grid-md-12 p,
    .grid-lg-12 p,
    .grid-sm-12 p,
    .grid-xs-12 p {
        max-width:100% !important;
    }


    .card-content .faq {
        color:$palette-primary-black !important;
    }
    .card-content .forceWhiteLinkColor,
    .forceWhiteLinkColor a,
    .forceWhiteLinkColor a:hover,
    .forceWhiteLinkColor a:visited,
    .forceWhiteLinkColor h1,
    .forceWhiteLinkColor h2,
    .forceWhiteLinkColor h3,
    .forceWhiteLinkColor h4,
    .forceWhiteLinkColor.faq h4,
    .forceWhiteLinkColor p {
        color:$palette-primary-white !important;
    }
    .mce-content-body ul li:before,
    .modularity-mod-text .box-content ul li:before,
    .unordered-list li:before,
    article ul:not(.nav):not(.slider-items):not(.line-numbers) li:before {
        background-color: transparent !important;
    }

    .searchResult {
        min-height:530px;
    }


}

&.nsr-background-white main {
    background-color:$palette-primary-white !important;
}

&.nsr-background-grey main {
    background-color:$palette-primary-grey !important;
}
&.nsr-background-grey .page-footer {
    display:none;
}


article {
    .wpb_content_element td, .wpb_content_element th {
        padding: 15px 10px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;

    }
    .wpb_content_element td {
        border:none !important;

    }
    .wpb_content_element th  {
        border-bottom: 1px solid #d0d0d0;
        font-weight:600;

    }
    .wpb_content_element table {
        width: 100%;
        display: table;
        box-shadow: none !important;
        border:none !important;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .wpb_content_element table tbody tr+tr:nth-child(even) {
        background-color: $palette-primary-grey;
    }
    .wpb_content_element table tbody tr+tr {
        border:none !important;
    }
}