
.main-footer nav {
    background:none !important;
}
.main-footer  {
    background-color:$palette-primary-grey !important;
}

.main-footer, .main-footer *, .page-footer {
    box-shadow: none !important;
}

&.nsr-background-white .main-footer {
    background-color:$palette-primary-grey !important;
    border-top: 4px solid alpha-color($palette-secondary-green, 0%, $type:'light');
    margin-top: 0;
    color:$palette-secondary-green;
}
&.nsr-background-grey .main-footer {
    background-color:$palette-primary-white !important;
    border-top: 4px solid alpha-color($palette-secondary-green, 0%, $type:'light');
    margin-top: 0;
    color:$palette-secondary-green;
}
.main-footer .logotype {
    position:relative;
    left:0px;
}


