
.vcmega-main-wrap {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23aabd+0,1c3533+100 */
    background: #23aabd; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #23aabd 0%, #1c3533 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #23aabd 0%, #1c3533 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #23aabd 0%, #1c3533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23aabd', endColorstr='#1c3533', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    a {
        color:#fff !important;
    }
}
.main-footer nav {
    background:none !important;
}
.main-footer  {
    background-color:$palette-primary-grey !important;
}

.main-footer, .main-footer *, .page-footer {
    box-shadow: none !important;
}

&.nsr-background-white .main-footer {
    background-color:$palette-primary-grey !important;
    border-top: 4px solid alpha-color($palette-secondary-green, 0%, $type:'light');
    margin-top: 0;
    color:$palette-secondary-green;
}
&.nsr-background-grey .main-footer {
    background-color:$palette-primary-white !important;
    border-top: 4px solid alpha-color($palette-secondary-green, 0%, $type:'light');
    margin-top: 0;
    color:$palette-secondary-green;
}
.main-footer .logotype {
    position:relative;
    left:0px;
}

.vcmega-container .wpb_column ul {
    padding-left: 0!important;
}


