
.site-header {
    z-index: 998;
    position:relative;
    background-color: $palette-primary-grey;
    border-bottom: $palette-primary-green 15px solid;
    height:100px;
    #nsr-logo .desk-logo{
        height: 50px;
        position: Absolute;
        top: -36px;
        left:50px;
        @media screen and (max-width: 1416px) and (min-width: 1020px) {
            left:118px;
            top:-20px;
        }
        svg {
            max-width: 170px;
            @media screen and (max-width: 1416px) and (min-width: 1020px) {
                max-width: 140px;
            }
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            top: -55px;
        }
    }

    &.color-foretag {
        border-bottom: $palette-primary-red 15px solid;
    }
    &.color-fastighet {
        border-bottom: $palette-primary-mint 15px solid;
    }
    .container {
        //position:absolute;
        //bottom:0px;
    }
    .desk-position {
        position:absolute;

        left: -100px;
        top: 20px;
        .ie-fix {
            height:71px;
            width:auto;
            padding-bottom:20px;
            margin-bottom:10px;
        }
    }
}

@media screen and (min-width: 1030px) {
    .site-header > .container > .grid [class*=grid-] {
        display: block;
    }
}

.site-header > .container {
    //padding: 0px 0;
    //padding-bottom:0px;
}
.site-header .grid {
    padding-bottom:0px;
}
&.nsr-background-white header {
    background-color: $palette-primary-grey;
}

&.nsr-background-grey header {
    background-color: $palette-primary-white;
}

.side-nav .quickSearch {
    display: none;
}






@media screen and (max-width: 1000px) {
    .site-header {
        height: 120px;
        border-bottom: none;
        min-height: 120px;
        .desk-logo {
            display:none;
        }
        .mob {
            display:block;
        }
        .mobile-logo.hide {
            display:block !important;
        }
        .mobile-nav .mobile-search {
            display:block !important;
        }
        .sites-nav {

            max-width:100%;
            .nav{
                display:block;
            }
        }


    }
}
