.site-header {
    background-color: $palette-primary-grey;
    border-bottom: 1px solid alpha-color($palette-primary-grey, 10%, $type: 'dark');

}

@media screen and (min-width: 769px) {
    .site-header > .container > .grid [class*=grid-] {
        display: block;
    }
}

.site-header > .container {
    padding: 0px 0;
}

&.nsr-background-white header {
    background-color: $palette-primary-grey;
}

&.nsr-background-grey header {
    background-color: $palette-primary-white;
}

.side-nav .quickSearch {
    display: none;
}  