/* The hero image */
.heroWrapper {
    height: 400px;
    z-index: 997;
    margin-top:-1px;
    background-color: $palette-primary-green;
    span.designation {
        display: none;
    }

    @media (max-width: 1000px) {
        min-height: 300px;
    }

    @media (max-width: 580px) {
        padding-top:10px;
        background-image: none !important;
        //background-color:$palette-primary-green !important;
        position:relative;
        min-height: auto;
        height: 240px;

    }

    background-position: center !important;;
    background-repeat: no-repeat !important;;
    background-size: cover !important;;
    position: relative !important;;
    align-items: center;


    .hero-search {
        text-align: center !important;;
        position: absolute;
        top: 50%;
        @media (max-width: 580px) {
            top: 40%;
        }
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        max-width: 80%;
        @media (min-width: 1000px) {
            max-width: 820px;
            width:100%;
        }

    }

    .hero-form {
        margin: 0 auto;
        max-width: 800px !important;
        padding: 50px;
    }

    .searchTooltip {
        @media (max-width: 580px) {
            display: none;
        }
        color: white;
        font-size: 14px;
        padding-top: 13px;
        line-height: 22px;
    }
    @media (max-width: 680px) {
        .searching .searchbuttons {
            top: 70px;
        }
    }
    @media (max-width: 500px) {
        .searching .searchbuttons {
            top: 60px;
        }
    }

}


