header {
  background-color:$palette-primary-white;
}

main {
  background-color:$palette-primary-grey !important;
}

footer {
  background-color:$palette-primary-white !important;
}
@media only screen and (max-width: 768px) {
  .page-footer {
    display:none;
  }
}
&.page-template-full-width-blade .customer-feedback-container {
  display:none;
}
.customer-feedback-container{
  display:none;
}

