/* Structure fix */
@media only screen and (min-width: 993px) {
    .container {
        width: 100%;
    }
}
@media only screen and (min-width: 601px) {
    .container {
        width: 100%;
    }
}



.creamy {
    background-color:$palette-primary-grey;
    border:none;
}

.mobileLogo {
    margin:0 auto;
    text-align:center;
    margin:20px 0;
}

.notice {

    margin-top:70px;
}

.card.large .card-image+.card-content,
.card.medium .card-image+.card-content,
.card.small .card-image+.card-content {
    max-height:100%;
}

/* Move later */
.searchNSR input[type=search] {
    border-bottom: 1px solid #23aabd;
    box-shadow: 0 1px 0 0 #23aabd;
}

.searchNSR input[type=search].invalid, input[type=search]:focus.invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

.searchNSR input[type=search].valid, input[type=search]:focus.valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
.searchNSR h4 {
    text-transform: uppercase;
    color:#fff !important;
    margin:0 auto !important;
    font-weight:normal;
    text-align: center !important;
}
li.before {
    position: static !important;
    background-color: transparent !important;
}

.searchNSR p {
    max-width:80% !important;
}