/* Main top Navigation */

.sites-nav {

    @mixin navHover($color) {
        border-left: 12px solid $color;
        transition-timing-function: ease;
        transition: 0.8s;
    }
    @media only screen and (max-width: 1000px) {
        background-color: darken($palette-primary-grey-input, 1%);
    }

    width: 100%;

    nav {
        background-color: transparent;
        box-shadow: none;
        border-radius: 2px;
        margin-top: -15px;

        top: 36px;
        left: 216px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }

    nav ul li.active {
        color: $palette-primary-white;
    }

    a {
        display: flex;
        text-decoration: underline;
        line-height: 20px;
        font-size: 1.0rem;
        font-weight: 400;
        text-align: left;

        height: 70px;
        align-items: center;
        color: $palette-primary-white;
        padding-left: 20px;
    }

    ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        @media only screen and (max-width: 1000px) {
            width: 100%;
            background-color: darken($palette-primary-grey-input, 1%);
        }

        li {
            width: 100%;
            text-align: left;
            cursor:pointer;

            &:last-child {
                border-top-right-radius: 8px;
            }

            &:first-child {
                border-top-left-radius: 8px;
            }

            a:before {
                display: inline-block;
                font-size: 22px;
                text-align: left;
            }

            &:nth-child(1) {
                width: 200px;
                a:before {
                    width: 40px;
                    content: "\e88a";
                    font-weight:normal;
                    font-family: Material Icons;
                    @media only screen and (max-width: 1000px) {
                        a::before {
                            content: '';
                        }
                    }
                }

                @media only screen and (max-width: 1000px) {
                    width: 33% !important;
                    text-align:center;
                    &:before {
                        font-size: 25px;
                        content: "\e88a";
                        font-weight:normal;
                        font-family: Material Icons;
                        vertical-align: inherit;
                        text-align:center;
                        a::before {
                            content: '';
                        }

                    }
                }

            }

            &:nth-child(2) {
                width: 200px;
                a::before {
                    width: 50px;
                    content: "\e563";
                    font-weight:normal;
                    font-family: Material Icons;
                    @media only screen and (max-width: 1000px) {
                        a::before {
                            content: '';
                        }
                    }
                }

                @media only screen and (max-width: 1000px) {
                    width: 33% !important;
                    text-align:center;
                    &::before {
                        font-size: 25px;
                        content: "\e563";
                        font-weight:normal;
                        font-family: Material Icons;
                        text-align:center;
                        a::before {
                            content: '';

                        }

                    }
                }
            }

            &:nth-child(3) {
                width: 260px;
                a::before {
                    width: 76px;
                    content: "\e7ee";
                    font-family: Material Icons;
                    font-weight:normal;
                    @media only screen and (max-width: 1000px) {
                        a::before {
                            content: '';
                        }
                    }
                }

                @media only screen and (max-width: 1000px) {
                    width: 34% !important;
                    text-align:center;
                    &::before {
                        font-size: 25px;
                        content: "\e7ee";
                        font-weight:normal;
                        font-family: Material Icons;
                        text-align:center;
                        a::before {
                            content: '';
                        }

                    }
                }
            }
        }
    }

    h6 {
        margin-left: 22px;
        color: alpha-color($palette-primary-grey, 40%, $type: 'dark');
    }

}

/* Navigation li item,  Mobile & Desktop */

.sites-nav li  {


    display: table-cell;
    align-self: flex-end;


    &:hover {

        color: alpha-color($palette-primary-green, 10%, $type: 'dark');
    }

    &:hover {
        color: $palette-primary-white !important;
        transition-timing-function: ease;
        transition: 0.8s;

    }

    @for $int from 1 through length($colors-nav) {

        &:nth-child(#{length($colors-nav)}n+#{$int}) {
            background-color: nth($colors-nav, $int);
        }

        &:nth-child(#{length($colors-nav)}n+#{$int}):hover,
        &:nth-child(#{length($colors-nav)}n+#{$int}).active {
            transition-timing-function: ease;
            transition: 0.18s;
        }
        @media only screen and (max-width: 1000px) {
            &:nth-child(#{length($colors-nav)}n+#{$int}) {
                background-color: transparent;
                color: nth($colors-nav, $int);

            }
            background-color: nth($colors-nav, $int);
            color:white;
            &:nth-child(#{length($colors-nav)}n+#{$int}):hover,
            &:nth-child(#{length($colors-nav)}n+#{$int}).current-menu-item,
            &:nth-child(#{length($colors-nav)}n+#{$int}).active {
                background-color: nth($colors-nav, $int);
                color:white;

            }
        }
    }

    &.active {
        color: alpha-color($palette-primary-green, 10%, $type: 'dark');
    }

}

@media only screen and (max-width: 1000px) {
    .mob .sites-nav li {

        span a {
            display: none;

        }

        span a::before {
            display: block;
        }
    }
}

/* Mobile navigation */
.mob, .mobile-search, .mobile-nav {
    position: absolute;
    top: 10px;
    z-index: 999;
    padding:0px !important;
    .material-icons {
        font-size: 36px;

        &.translate-icon-btn {
            font-size: 30px;
        }
    }


}

.mob {
    width: 100%;
    max-width: 100%;

    h6 {
        margin-left: 22px;
    }

    .mobile-search {
        position:Absolute;
        top:20px;
        right: 20px;
        color: $palette-primary-green;
        float:right;
    }

    .mobile-nav {
        right: 10px;
    }

    .mobile-search, .mobile-nav {
        padding: 5px 15px 0 15px;
        margin-top: -5px;

    }

    .mobile-logo {
        width:120px;
        height:90px;
        a {
            width: 90px;
            margin-top: -9px;
            margin-left:20px;
            animation: popout 0.5s ease;
            -webkit-animation: popout 0.5s ease;
        }
    }


    @media only screen and (min-width: 1000px) {
        display: none;
    }

    @keyframes popout {
        from {
            transform: scale(0)
        }
        80% {
            transform: scale(1.1)
        }
        to {
            transform: scale(1)
        }
    }

    @-webkit-keyframes popout {
        from {
            -webkit-transform: scale(0)
        }
        80% {
            -webkit-transform: scale(1.1)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
}

@media only screen and (min-width: 1000px) {
    .mobile-search {
        right: 20px;
        left: auto !important;

    }

}

.desk {
    display: block !important;
}

@media (min-width: 1001px) {
    .desk {
        display: block !important;
    }
}

@media (max-width: 1000px) {
    .desk {
        display: none !important;
    }
    #nsr-logo {
        max-width: 30%;
    }
    .sites-nav {
        margin-top: -31px;
        max-width: 100%;

        ul li {
            width: 33% !important;
            border-radius: 0px !important;

        }
    }
}


@media (max-width: 768px) {
    #nsr-logo {
        max-width: 100%;
    }

}

.admin-bar #site-header {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    #sidenav-overlay {
        display: none;
    }
    body {
        width: 100% !important;
        overflow: auto !important;
    }
}


.animate-showLogo {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.6s ease;
}

.animate-hideLogo {
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.all-device {
    position: absolute;
    right: 30px;
    top: 30px;
    @media (max-width: 1000px) {
        top:14px;
    }
    z-index: 999;
    .material-icons {
        font-size:27px;
    }
}

.breadcrumbs {
    text-transform: uppercase;
    font-size: 90% !important;
    font-weight: normal !important;

    a {
        text-decoration: underline;
        color: $palette-primary-green !important;
        font-size: 105% !important;

    }

}

@media (max-width: 1000px) {
    .breadcrumbs {
        display:none;
    }
    .breadcrumbs li:nth-last-child(2) a:before {

        font-family: "Material Icons";
        content: '\E5D9';
        color: $palette-primary-green;
    }
}

.acc-helper-menu li {
    float: left;
    width: 36px;
    display: inline-block;
    position: relative; /*Added Line*/
}

.acc-helper-menu .quickSearch {
    margin-top: -2px;
    margin-left: 5px;
}

@media (max-width: 1000px) {
    .site-header {
        position: relative;
    }

    .acc-helper-menu li {
        float: left;
        margin-top:5px;
    }
    .admin-bar .mob .mobile-logo a {
        margin-top:-5px !important;
    }
}

@media (max-width: 469px) {
    #nsr-logo {
        margin-top: 10px;
    }

}
@media (max-width: 599px) {

    .admin-bar .mob .mobile-logo a {
        margin-top: 0 !important;
    }

    .admin-bar .mob, .mobile-nav, .mobile-search {
        top: 35px;
    }

    .admin-bar .all-device {
        top: 50px;
    }
    .admin-bar #site-header {
        margin-top: 0px;
        height: 151px;
    }
}
.admin-bar {
    top:0px !important;
    @media (max-width: 599px) {
        top: -46px !important;
    }
    .mob {
        .mobile-logo a {
            margin-top: 0px;
        }
    }
}

