.forceWhiteLinkColor a,
.forceWhiteLinkColor a:hover,
.forceWhiteLinkColor a:visited,
.forceWhiteLinkColor h1,
forceWhiteLinkColor h2,
forceWhiteLinkColor h3,
forceWhiteLinkColor h4,
forceWhiteLinkColor p {
  color:#fff !important;
}

.mce-item-table td, .modularity-table td, .table td, article table td {
  vertical-align: top !important;
}
#searchModal label.active {
  transform: translateY(-10px) !important;
  //transform: translateX(80%) !important;
}
.nav-help a, .nav-help li {
  transform: none !important;
}


