body {
    @include font('Lato', 400);
}

@media only screen and (max-width: 600px) {
    .is-child-theme h1 {
        font-size: 2rem;
        min-height:80px;
    }
}

/* Fix */
.page-template-default .page-title, .page-template-default .customer-feedback-container {
    display:none;
}