/*
 *  Wake up the gfx card
 */
@mixin textRendering() {
    text-rendering: geometricPrecision;
    font-feature-settings: "kern" 1;
    font-smoothing: antialiased;
    transform: translate3d( 0, 0, 0);
}



