html  {
    /*background: $black; //Fixes issues of color in footer, when page is to "short".*/

}
.sticky {
    top: 0;

}

html.video-is-playing {
    .scroll-down-please-icon,
    .scroll-down-please {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .site-header>.container>.grid {
        display: flex !important;
    }
}

.admin-bar #site-header {
    @media screen and (max-width: 782px) {
        margin-top: 46px;
    }
    @media screen and (min-width: 783px) {
        margin-top: 32px;
    }
}

html.translated-ltr #site-header {
    top: 39px;
}

.error404 {
    color:#000;
    position: relative !important;
    background-color: #ae0b05;
    color: #fff;
    font-size: 1em;
    padding: 0;
    margin: 0;
    display: table;
    height: 100vh;
    width: 100%;

    #wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: 0px;
    }

    .sticky {
        margin-left: 0px;
    }
    .right {
        float: right;
    }
    .searchNSR .section {
        position: relative;
    }

    .searchNSR .search-autocomplete .meta-fraktion li a,
    .searchNSR .search-content .meta-fraktion li a,
    .searchNSR .sorterings-guide-table .meta-fraktion li a {
        margin-top:-23px;
    }
    td {
        padding: 10px 15px !important;
        vertical-align: middle !important;
    }
    .quickSearch {


    }
}
.error404.theme-green {
    background-color: #fff !important;
}
#login h1 a, .login h1 a {
    background-image: url('../img/logo-avc-admin.png');
    padding-bottom: 30px;
}
.button-primary {
    background-color: #007586 !important;
    border-color: #007586 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 -1px 1px #007586, 1px 0 1px #007586, 0 1px 1px #007586, -1px 0 1px #007586;
}
#password_protected_pass {
    background-color:#e6e6e6 !important;
}

.mce-content-body ul li+li,
.modularity-mod-text .box-content ul li+li,
.unordered-list li+li,
article ul:not(.nav):not(.slider-items):not(.line-numbers):not(.player-playlist) li+li {
    margin-top:0px;
}
.collapsible {
    margin-top:0px !important;
}
.modal {
    background-color: #fff;
}
.page-template-default .doc-nfo {
    display:block !important;
}
.readspeaker-play-button:before {
    font-family: "Material Icons" !important;
    content: 'hearing' !important;
    text-decoration:none;
}
.home .ReadspeakerPlayer {
    margin-left:15px;
    position:absolute;
    left:15px;
}
.home .readspeaker-play-button {
    max-width: 10px;
    width:10px;
    right: 10px;
    position: absolute;
}
.home .readspeaker-play-button:hover {
    text-decoration: none !important;
}
.home .readspeaker-play-button:before {
    font-size: 2.1rem;
    position: absolute;
    top: -34px;
    right: -25px;
    font-weight: 400;
}

.mobile-search #readspeaker-play-button, .mobile-search #readspeaker-play-button:before {
    display:none;
}
.home .mobile-search #readspeaker-play-button, .home .mobile-search #readspeaker-play-button:before {
    display:block;
}

.home .mobile-search #readspeaker-play-button {
    visibility: hidden;
}

.home .mobile-search #readspeaker-play-button:before {
    visibility: visible;
}
.material-icons .sync_sent {
    display:none;
}
.language {
    font-size: 2.1rem;
}

